/* ---SECTION3: DEVELOPMENTS_imagenes----*/
.titulos{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    display: inline;
    margin-top: 10%;
    width: 80%;
    
    #p1{
        font-size: 40px;
        color: #DF991B; 
        line-height: -10%;
    }

    #p2{
        font-size: 80px;
        color: #000000;
        line-height: -10%;
        
    }
}


section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 10px;
    padding: 100px;
    margin-top: 1%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

h5,
h4 {
    margin-left: 27px;
    color: #464547;
}

h4 {
    font-size: 40px;
    color: #000000;
}

h5 {
    font-size: 25px;
}

/*Responsive_ mobile*/

@media (max-width: 900px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }

    .titulos{
        #p1 {
            font-size: 40px;
        }
            
        #p2{
            font-size: 70px;
        }
    }
}

@media (max-width: 600px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
    .titulos{
        #p1 {
            font-size: 35px;
        }
            
        #p2{
            font-size: 60px;
        }
    }
}

@media (max-width: 320px) {
    .titulos{
        #p1{
            font-size: 25px;
        }
        #p2{
            font-size: 30px;
        }
    }

    section {
        grid-template-columns: 1fr;
        padding: 0px;
        gap: 10px;

        #dos, #uno, #cinco, #siete, #ocho{
            display: none;}
            
        h5, h4 {
                display: none; /*Lo uso para que el texto desaparezca a el abrir en un telephone*/
         }
    }
}

#uno {
    overflow: hidden;
}