/*----------SECTION 1: NAVBAR (logo, fondo, menu, redes sociales, log in sing up)--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: PFRegal;
    src: url(fonts/PFRegalDisplayPro-Regular.ttf);
    font-family: PFRblack;
    src: url(fonts/PFRegalDisplayPro-Black.ttf);
    font-family: Brandon;
    src: url(fonts/Brandon.otf);
}

html {
    font-family: PFRblack;
}


body {
    background-color: #FFFFFF;
    height: 100vh;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #00010;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    position: fixed;
    top: 0%;
    overflow: hidden;
    

    #logo {
        margin-left: 122px;
        top: 34px;
        width: 266px;
        height: 26px;

    }

    #logo-mobile {
        display: none;
        border: solid 1px white;
        border-radius: 50%;
        padding: 20px;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;



        a {
            text-decoration: none;
            color: white;
            justify-self: center;

        }

        .gray {
            color: grey;
        }

        .registro {
            display: grid;
            grid-template-columns: 1fr 1px 1fr;
        }

        #bar {
            height: 100%;
            width: 1px;
            background-color: white;
        }

        .languages {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            img {
                margin-right: 40px;
            }
        }
    }
}


/*Titulos del topbar*/
#fondo {
    width: 100%;
    height: 125vh;
    object-fit: cover;
    
}


#topbar {
    background-color: rgba(32, 34, 33, 0.678);
    position: fixed;
    height: 90px;
    width: 100%;
    overflow: hidden;

}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 80px;
    position: absolute;
    left: 20px;
    top: 10%;

    /*  buscador: Ex. Villa Budapest*/
    .contBuscador {
        justify-self: end;

        .buscador {
            position: relative;


            img {
                position: absolute;
                transform: translateY(-50%);
                right: 10%;
                top: 50%
            }

            input {
                font-family: Brandon;
                text-decoration: none;
                color: white;
                font-size: 30px;
                border-radius: 100px;
                padding: 8px 50px;
                border: 1px solid white;
                width: fit-content;
                background-color: transparent;

                &::placeholder {
                    color: #FFFFFF;
                }
            }
        }
    }
}

#titulos-topbar {
    align-self: self-end;
    display: grid;
    gap: 10px;

    h2 {
        color: #B4B7B7;
        font-size: 40px;
    }

    h1 {
        color: #FFFFFF;
        font-size: 80px;
    }

    a {
        font-family: Brandon;
        text-decoration: none;
        color: white;
        font-size: 30px;
        border-radius: 100px;
        padding: 8px 32px;
        border: 1px solid white;
        width: fit-content;

        img {
            margin-right: 20px;

        }
    }
}


/*REDES: Iconos follow*/
#redes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: autopx 41px 25px 25px 25px;
    width: 55px;
    justify-items: center;
    position: fixed;
    top: 386px;
    color: #7E7E7E;

    img {
        display: block;
        margin-top: 20px;
    }

    p {
        transform: rotate(90deg);
        display: inline-block;
        color: #7E7E7E;
        font-family: Brandon;
        font-weight: bold;
        font-size: 23px;

    }

    #raya {
        height: 40px;
        width: 1px;
        border-left: 1px solid;
        margin-top: 15px;
    }
}

.cont3rayas {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    position: absolute;
    row-gap: 30px;
    top: 110vh;
    width: 100%;

    .cuadrito {
        height: 5px;
        width: 31px;
        background-color: #B4B7B7;
        margin-right: 8px;

    }
}


/* Desde aqui empieza la version mobile*/
@media (max-width: 900px) {
    #topbar {
        overflow: hidden;
    }

    .contenedor {
        width: 98%;
    }

    nav {
        #logo {
            display: none;
        }

        #logo-mobile {
            display: inline;
            margin-left: 50px;
            height: 60px;
            border-radius: 60%;
        }

        .links {
            grid-template-columns: 1fr;

            .languages {
                grid-template-columns: 1fr;
                justify-items: end;

                a {
                    display: none;
                }
            }

            .registro {
                display: none;
            }
        }
    }
}


@media (max-width: 700px) {
    nav{
        overflow: hidden;
    }


    #redes {
        display: none;
    }

    .contenedor {
        position: absolute;
        left: -5%;
        width: 95%;

        .contBuscador {
            .buscador {
                input {
                    font-size: 23px;
                    padding: 7px 25px;
                }
            }
        }
    }

    #titulos-topbar {
        h2 {
            font-size: 25px;
        }

        h1 {
            font-size: 45px;
        }

        a {
            font-size: 25px;
            padding: 7px 25px;
        }

    }

}

@media (max-width: 320px) {
    nav{
        overflow: hidden;
    }
    #topbar{
        overflow: hidden;

        #fondo{
            filter: brightness (0.5);
        }
    }

    .contenedor {
        left: -22%;
        width: 78%;
        
        .contBuscador {
            .buscador {
                input {
                    font-size: 21px;
                    padding: 7px 17px;
                    }

                .imglupa {
                        display: none;
                }
            }
        }

        #titulos-topbar {
            h2 {
                font-size: 22px;
            }

            h1 {
                font-size: 40px;
            }

            img {
                display: none;
            }
            a {
                font-size: 25px;
                padding: 7px 17px;
            }
        }
     }
}
@media (max-width: 250px) {
    #topbar{
        overflow: hidden;
    }
    .contenedor {
        left: -40%;
        width: 78%;
    }
}