
/*----------SECTION 1: NAVBAR (logo, menu, redes sociales, log in sing up)--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fondo {
   width: 100%; 
   height: 100vh;
   object-fit: cover;
}
body{
    background-color: #FFFFFF;
    height: 500vh;
    
    
}
nav{
    width: 100%;
    height: 100px;
    background-color: #00010;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    position: fixed;
    top: 0;
    

    #logo{
        margin-left: 100px;
        
    }
    #logo-mobile{
        display: none;
        border: solid 1px white;
        border-radius: 50%;
        padding: 7px;
    }
    .links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: white;
            justify-self: center;
        }   
        .gray{
            color: grey;
            border;
    
        }
        .registro{
            display: grid;
            grid-template-columns: 1fr 1px 1fr;
            
        }

        #bar{
            height: 100%;
            width: 1px;
            background-color: white;
        }
        .languages{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            img{
                margin-right: 40px;
            }
        }
    }
}

/* Desde aqui empieza la version mobile*/
@media (max-width: 950px) {
    html{
        background-color: red;
    }

    nav {
        #logo {
            display: none;
        }
        #logo-mobile {
            display: inline;
            margin-left: 40px;
            height: 40px;
        }
       .links{
           grid-template-columns: 1fr;

          .languages {
            grid-template-columns: 1fr;
            justify-items: end;

            a {
                display: none;
            }
          }
         .registro {
            display: none;
         }
       } 
    }
}


